{% include "/components/header.html" %}
    <div>
        <input class="form-control form-control-lg mb-4" type="text" id="searchInput" placeholder="Введите название фильма...">
        <div class="bg-light p-5 rounded">
            <div class="row">
            <div class="col-md-3">
                <div class="card add-card mb-3 text-secondary">
                    <a href="/search/film">
                        <i class="fas fa-plus"></i>
                        <span class="subtext">Добавить фильм</span>
                    </a>
                </div>
            </div>
            {% for film in film_list %}
                <div class="col-md-3">
                    <div class="card film-card mb-3 text-secondary">
                        <img src="https://via.placeholder.com/280x440?text=POSTER" class="card-img-top" alt="{{ film.nameRu }}" height="440">
                        <span class="badge bg-light text-dark year-label">{{ film.year }}</span>
                        <span class="badge bg-dark type-label">{{ 'Фильм' if film.type == "FILM" else 'Сериал' }}</span>
                        <div class="card-body">
                            <h6 class="card-title text-center mb-0" title="{{ film.nameRu }} / {{ film.nameEn }}">{{ film.nameRu }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% include "/components/footer.html" %}