    {% block content %}
    {{ error }}
    <h1>Log-in</h1>
    <p>Please, use the following form to log-in:</p>
    <form action="/login" method="post">
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <br>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <p><input type="submit" name="submit" value="Log-in"></p>
    </form>

        {% endblock %}